:root {
  --dark-color-1: #03254c;
  --dark-color-2: #001833;
  --dark-color-3: #003166;
  --light-color-1: #004999;
  --light-color-2: #0062cc;
  --light-color-3: #006ee6;
  --white: #ffff;
}


.card-container{
    margin-top: 150px;
}

 figure {
    margin: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 375px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
}
figure:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
figure:hover img {
    transform: scale(1.25);
}
figure:hover figcaption {
    bottom: 0;
}
figure h1 {
    position: absolute;
    top: 50px;
    left: 20px;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 35px;
    font-weight: 100;
    line-height: 1;
}
figure img {
    height: 100%;
    transition: 0.25s;
}
figure figcaption {
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    color: white;
    line-height: 1;
    transition: 0.25s;
}
figure figcaption h3 {
    margin: 0 0 20px;
    padding: 0;
}
figure figcaption p {
    font-size: 14px;
    line-height: 1.75;
}
figure figcaption button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0;
    padding: 10px 30px;
    background-color: #1abc9c;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}



@media screen and (max-width: 440px){
    figure figcaption {
        bottom: -54%;
    }
}
@media screen and (max-width: 390px){
    figure figcaption {
        bottom: -65%;
    }
}

/*this is the player cards*/

.center {
    margin: auto;
    width: 100%;
    
  }
  
  .card {
    width: 600px;
    max-width: 100%;
    height: 260px;
    background-color: #fff;
    background: linear-gradient(var(--dark-color-1), var(--light-color-3));
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem auto;
    color: #fff;
  }
  
  .card h1 {
    text-align: center;
  }
  
  .card .additional {
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(var(--dark-color-1), var(--light-color-3));
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
  }
  
  .card.green .additional {
    background: linear-gradient(#92bCa6, #A2CCB6);
  }
  
  
  .card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
  }
  
  .card .additional .user-card {
    width: 150px;
    height: 100%;
    position: relative;
    float: left;
  }
  
  .card .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0,0,0,0.025);
  }
  
  .card .additional .user-card .level,
  .card .additional .user-card .points {
    top: 15%;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    background: rgba(0,0,0,0.15);
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
  }
  
  .card .additional .user-card .points {
    top: 85%;
  }
  
  .card .additional .user-card svg {
    top: 50%;
  }
  
  .card .additional .more-info {
    width: 400px;
    float: left;
    position: absolute;
    left: 150px;
    height: 100%;
  }
  
  .card .additional .more-info h1 {
    color: #fff;
    margin-bottom: 0;
  }
  
  .card.green .additional .more-info h1 {
    color: #224C36;
  }
  
  .card .additional .more-info .coords {
    margin: 0 1rem;
    color: #fff;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  
  .card.green .additional .coords {
    color: #325C46;
  }
  
  .card .additional .coords span + span {
    float: right;
  }
  
  .card .additional .stats {
    font-size: 2rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    top: auto;
    color: #fff;
    
  }
  
  .card.green .additional .stats {
    color: #325C46;
  }
  
  .card .additional .stats > div {
    flex: 1;
    text-align: center;
  }
  
  .card .additional .stats i {
    display: block;
  }
  
  .card .additional .stats div.title {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .card .additional .stats div.value {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
  }
  
  .card .additional .stats div.value.infinity {
    font-size: 2.5rem;
  }
  
  .card .general {
    max-width: 400px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
  }
  
  .card .general .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9em;
  }
  
  @media screen and (max-width: 550px){
  
    .card .general {
        max-width: 200px;
        font-size: 10px;
        right: 1rem;
        
    }

    .card .more-info *{
      max-width: 200px;
      font-size: 10px;
    }

    .card .additional .stats{
      flex-wrap: wrap;
      margin-top: 1em;
      top: 20;
    }
    .card .additional .stats div.title{
      font-size: 10px;
      margin: 10px;
    }
    .card .additional .stats div.value{
      font-size: 10px;
    }
  }