:root {
    --dark-color-1: #03254c;
  }
:root {
    --dark-color-2: #001833;
  }
:root {
    --dark-color-3: #003166;
  }
:root {
    --light-color-1: #004999;
  }
:root {
    --light-color-2: #0062cc;
  }
:root {
    --light-color-3: #006ee6;
  }
  :root{
    --white: #ffff;
  }

body{
  font-family: 'Cinzel', serif;
}

.profile-box-container{
    display: flex;
    
}

.profile-box{
    width: 23%;
    height: 200px;
    border: 1px solid var(--light-color-1);
    margin: 10px;
}