:root {
    --dark-color-1: #03254c;
  }
:root {
    --dark-color-2: #001833;
  }
:root {
    --dark-color-3: #003166;
  }
:root {
    --light-color-1: #004999;
  }
:root {
    --light-color-2: #0062cc;
  }
:root {
    --light-color-3: #006ee6;
  }
  :root{
    --white: #ffff;
  }

body{
  font-family: 'Cinzel', serif;
}

.container-fluid{
  padding: 0;
}

.header-animation{
  position: relative;
  min-height: 300px;
  display: block;
}

#container-brand {
  position: absolute;
  margin: auto;
  width: 100vw;
  height: 80pt;
  top: 0;
  bottom: 0;

  filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
  position: absolute;
  width: 100%;
  display: inline-block;

  font-family: "Raleway", sans-serif;
  font-size: 80pt;

  text-align: center;

  user-select: none;
}


.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-divider{
  height: 200px;
  background-color: var(--light-color-1);
  color: var(--white);
}



.two-col{
  margin-top: 30px;
}

.two-col-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.cta-button{
  width: 160px;
  border: none;
  border-radius: 5px;
  height: 50px;
  color: var(--white);
  background-color: var(--light-color-2);
}

.three-col-row{
  margin: 0;
  padding: 0;
  background-color: var(--light-color-3);
  --bs-gutter-x: 0;
  color: var(--white);
}



.three-col{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.svg-circle-three{
  height: 14em;
  background-color: #ffff;
  width: 14em;
  border-radius: 50%;
  margin-bottom: 15px;
}

.svg-img{
  height: 8em;
}

.curved{
  text-align: center;
  margin-top: 20px;
}

.flex_container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--light-color-1);
  width: 350px;
  border-radius: 5px;
  padding-bottom: 20px;
}

#form-container > input {
  height: 50px;
  width: 280px;
  margin: .5em;
  text-align: center;
  border: 1px solid var(--light-color-1);
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
}


.form-header{
  height: 100px;
  width: 100%;
  background-color: var(--light-color-1);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-weight: bold;
  margin-bottom: 20px;
}

.button-container{
  height: 80px;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container > button{
  width: 50%;
  margin: 5px;
  height: 30px;
  border: 1px solid var(--light-color-1);
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  background-color: var(--light-color-1);
  color: var(--white);
}

@media screen and (max-width: 900px){
  #text1,
#text2 {
  margin-top: 30px;
  font-size: 40pt;

}

.header-animation{
  min-height: 300px;
}

}