:root {
    --dark-color-1: #03254c;
  }
:root {
    --dark-color-2: #001833;
  }
:root {
    --dark-color-3: #003166;
  }
:root {
    --light-color-1: #004999;
  }
:root {
    --light-color-2: #0062cc;
  }
:root {
    --light-color-3: #006ee6;
  }
  :root{
    --white: #ffff;
  }

body{
  font-family: 'Cinzel', serif;
}

.navbar{
  background-color: var(--light-color-2);
  height: 70px;
}

.navbar-nav .nav-link{
 color: var(--white);
 margin: 20px;
 font-weight: 700;
}

.navbar-nav{
  margin-right: 3em;
}
.navbar .nav-item{
  color: var(--white);
}

.navbar-brand{
  color: var(--white);
  margin: 20px;
 font-weight: 700;
}

.top-row{
  min-height: 22rem;
}

.center-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scientist-svg{
  height: 20rem;
}

.svg-circle{
  background-color: var(--light-color-2);
  border-radius: 50%;
  width: 22rem;
}

.two-col-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}





.cta-button{
  width: 160px;
  border: none;
  border-radius: 5px;
  height: 50px;
  color: var(--white);
  background-color: var(--light-color-2);
}

.three-col-row{
  margin: 0;
  padding: 0;
  background-color: var(--light-color-3);
  --bs-gutter-x: 0;
  color: var(--white);
}



.three-col{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

.svg-circle-three{
  height: 14em;
  background-color: #ffff;
  width: 14em;
  border-radius: 50%;
  margin-bottom: 15px;
}

.svg-img{
  height: 8em;
}

.curved{
  text-align: center;
  margin-top: 20px;
}

.flex_container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--light-color-1);
  width: 350px;
  border-radius: 5px;
  padding-bottom: 20px;
}

#form-container > input {
  height: 50px;
  width: 280px;
  margin: .5em;
  text-align: center;
  border: 1px solid var(--light-color-1);
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
}


.form-header{
  height: 100px;
  width: 100%;
  background-color: var(--light-color-1);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-weight: bold;
  margin-bottom: 20px;
}

.button-container{
  height: 80px;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container > button{
  width: 50%;
  margin: 5px;
  height: 30px;
  border: 1px solid var(--light-color-1);
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  background-color: var(--light-color-1);
  color: var(--white);
}